<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h4>レシピ編集</h4>
  		<%= render 'form', recipe: @recipe %>
  		<%= link_to '一覧に戻る', admin_recipes_path, class: "back" %>
  </div>
</div>