<% if @model == 'user' %>
    <h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/users/index', users: @records %>
<% elsif @model == 'recipe' %>
    <h3>Recipes search for "<%= @content %>"</h3>
  <%= render 'users/recipes/index', recipes: @records %>
<% end %>
